.navbar-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    position: absolute;
    top: 6.5%;
    width: 100%;
    background-color: transparent;
    z-index: 999;
    
}

.nav-logo{
    width: 25%;
    margin: 0 0 0 2rem;
}

.nav-menu{
    width: 80%;
    margin: 0 2rem 0 2rem;
    color: white;
    font-weight: 600;
}

.lista-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lista-menu li{
    text-decoration: none;
    list-style: none;
}